In [ ]:
# Test 1
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = input("Enter your age: ")

print(f'''My name is {first_name} {last_name}. I am {age} years old.''')

Enter your first name: Abdul
Enter your last name: Subhan
Enter your age: 17
My name is Abdul Subhan. I am 17 years old.

In [ ]:
# Test 2

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
age = input("Enter your age: ")

print("My name is " + first_name + " " + last_name + ". I am " + age + " years old.")

Enter your first name: Abdul
Enter your last name: Subhan
Enter your age: 17
My name is Abdul Subhan. I am 17 years old.

In [ ]:
# Test 3

var_1 = "Hello"
var_2 = 50
var_3 = 7.89

print(type(var_1))
print(type(var_2))
print(type(var_3))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Test 4

num = int(input("Enter your number: "))

num += 10

num *= 2

num -= 5

num /= 3

num *= 3.2

num //= 1

print(f'''The final value of the variable is: {num}''')

Enter your number: 10
The final value of the variable is: 37.0

In [ ]:
# Test 5

name = input("Enter Your Name:")
father_name = input("Enter Your Father Name:")
gender = input("Enter Your Gender:")
age = int(input("Enter Your Age:"))

if age >= 18:
   print("You are eligible for vote")

else:
     print("You are not eligible for vote")

area_code = input("Enter Your Area Code:")

if area_code == 432:
   print("Your voting area is malir")

elif area_code != 432:
     area_code = input("Re-enter Your Area Code:")
     print("Your voting area is malir")

else:
     print("Your voting area is other")

Enter Your Name:Abdul Subhan
Enter Your Father Name:Saghir Muhammad
Enter Your Gender:Male
Enter Your Age:18
You are eligible for vote
Enter Your Area Code:232
Re-enter Your Area Code:432
Your voting area is malir

In [ ]:
# Test 6

alpha = input("Enter The Alphabet: ")

if alpha == "a":
   print("This is vowel")

elif alpha == "e":
   print("This is vowel")

elif alpha == "i":
   print("This is vowel")

elif alpha == "o":
   print("This is vowel")

elif alpha == "u":
   print("This is vowel")

else:
     print("This is consunent")

Enter The Alphabet: u
This is vowel

In [ ]:
# Test 7

name = input("Enter The Name: ")
first_num = int((input("Enter The First Number: ")))
second_num = int((input("Enter The Second Number: ")))
operator = input("Enter The Operator (+, -, *, /): ")

if operator == "+":
   result = first_num + second_num

elif operator == "-":
     result = first_num - second_num

elif operator == "*":
     result = first_num * second_num

elif operator == "/":
     result = first_num / second_num

else:
    result = "Invalid operator"

if operator in ["+", "-", "*", "/"]:
    print(f"{first_num} {operator} {second_num} = {result}")

else:
    print("Error: Invalid operator entered.")

if first_num > 100:
   print(f'''My name is {name}, and {first_num} is grater then 100.''')

Enter The Name: Abdul Subhan
Enter The First Number: 4
Enter The Second Number: 2
Enter The Operator (+, -, *, /): *
4 * 2 = 8

In [ ]:
# Test 8

first_name = input("Enter The First Name: ")
last_name = input("Enter The Last Name: ")
birth_year = int(input("Enter The Birth Year: "))

full_name = first_name + last_name
print(full_name.capitalize())

age = 2024 - 2007
print(age)

if age >= 18:
   print(f'''My name is {name}. I am {age} years old. The user is greter then 18''')

else:
     print("The user is under 18")

Enter The First Name: Abdul
Enter The Last Name:  Subhan
Enter The Birth Year: 2007
Abdul subhan
17
The user is under 18

In [ ]:
# Test 9

num = int(input("Enter the Number:"))

if num % 2 == 0:
   print("Even Number")
else:
     print("Odd Number")

Enter the Number:66
Even Number

In [ ]:
# Test 10

name = input("Enter Your Name: ")
num_1 = float(input("Enter Your First Number: "))
num_2 = float(input("Enter Your Second Number: "))

result_1 = num_1 + num_2
result_2 = num_1 - num_2
result_3 = num_1 * num_2
result_4 = num_1 / num_2

print(f'''Nice to meet you! your name is {name} and your results is addition: {result_1}, subtraction: {result_2}, multiplication: {result_3} and division: {result_4}''')

Enter Your Name: Abdul Subhan
Enter Your First Number: 2
Enter Your Second Number: 2
Nice to meet you! your name is Abdul Subhan and your results is addition: 4.0, subtraction: 0.0, multiplication: 4.0 and division: 1.0

In [ ]:
# Test 11

first_name = input("Enter The First Name: ")
second_name = input("Enter The Second Name: ")
favorite_number = int(input("Enter the Favorite Number: "))

full_name = first_name+" "+second_name
complete_name = full_name.title()

if favorite_number % 2 == 0:
   print(f'''{favorite_number} is even Number''')
else:
     print(f'''{favorite_number} is odd Number''')

print(f'''Your name is {complete_name}.''')

Enter The First Name: abdul
Enter The Second Name: subhan
Enter the Favorite Number: 5
5 is odd Number
Your name is Abdul Subhan.

In [ ]:
# Test 12

name = input("Name: ")
father_name = input("Father Name: ")
age = int(input("Age: "))
college_class = int(input("Class: "))
roll_number = int(input("Roll Number: "))

english_marks = float(input("Enter The Marks Of English: "))
math_marks = float(input("Enter The Marks Of Math: "))
physics_marks = float(input("Enter The Marks Of Physics: "))
chemistry_marks =  float(input("Enter The Marks Of Chemistry: "))
computer_marks =  float(input("Enter The Marks Of Computer: "))

print("                                   Board Of Secondary Education Karachi")
print("                                                 Mark Sheet")

print("Name:",name.upper())
print("Father Name:",father_name.upper())
print("age:",age)
print("Class:",college_class)
print("Roll No.:",roll_number)

print(f'''     Subjects
English Marks: {english_marks}
Math Marks: {math_marks}
Physics Marks: {physics_marks}
Chemistry Marks: {chemistry_marks}
Computer Marks: {computer_marks}''')

total_marks = english_marks + math_marks + physics_marks + chemistry_marks + computer_marks
max_marks = 500
percentage = (total_marks / max_marks) * 100
grade = percentage

print(f'''     Result
Total Marks: {total_marks}
Percentage: {percentage}''')

if percentage >= 80:
   print("Grade: A+")

elif percentage >= 70:
      print("Grade: A")

elif percentage >= 60:
     print("Grade: B")

elif percentage >= 50:
     print("Grade: C")

elif percentage >= 40:
     print("Grade: D")

else:
     print("Fail")

Name: Abdul Subhan
Father Name: Saghir Muhammad
Age: 17
Class: 12
Roll Number: 031715
Enter The Marks Of English: 80
Enter The Marks Of Math: 78
Enter The Marks Of Physics: 95
Enter The Marks Of Chemistry: 76
Enter The Marks Of Computer: 74
                                   Board Of Secondary Education Karachi
                                                 Mark Sheet
Name: ABDUL SUBHAN
Father Name: SAGHIR MUHAMMAD
age: 17
Class: 12
Roll No.: 31715
     Subjects
English Marks: 80.0
Math Marks: 78.0
Physics Marks: 95.0
Chemistry Marks: 76.0
Computer Marks: 74.0
     Result
Total Marks: 403.0
Percentage: 80.60000000000001
Grade: A+

In [ ]:
# Test 13

book_title = input("Enter the title of the book: ")
aouther_name = input("Enter the Aouther Name: ")
book_price = int(input("Enter the price of the book (in dollars): "))

if book_price > 100:
    discount = book_price * 10 / 100

elif book_price < 50:
    discount = book_price * 5 / 100

else:
     discount = 0

final_price = book_price - discount

print(f'''   BILL SLIP

Book Title: {book_title}
Aouther Name: {aouther_name}
Original Price: {book_price}
Discount Applied: {discount}
Final Price to Pay: {final_price}''')

Enter the title of the book: The Moon
Enter the Aouther Name: Abdul Subhan
Enter the price of the book (in dollars): 120
   BILL SLIP

Book Title: The Moon
Aouther Name: Abdul Subhan
Original Price: 120
Discount Applied: 12.0
Final Price to Pay: 108.0

In [ ]:
# Test 14

gejit_name = input("Enter the gejit name: ")
gejit_price = int(input("Enter the gejit price: "))

if gejit_price > 500:
   discount = gejit_price * 15 / 100

elif gejit_price < 200:
     discount = gejit_price * 7 / 100

else:
     discount = 0

final_price = gejit_price - discount

print(f'''Recipt

Gegit_Name: {gejit_name}
Original price: {gejit_price}
Total discount: {discount}
Final price: {final_price}''')

Enter the gejit name: Fan
Enter the gejit price: 150
Recipt

Gegit_Name: Fan
Original price: 150
Total discount: 10.5
Final price: 139.5

In [ ]:
# Test 15

meal_cost = int(input("Enter the cost of meal: "))
meal_tax = int(input("Enter the tax of meal: "))
meal_tip = int(input("Enter the tip of meal: "))

tax_amount = meal_cost * 10/100
tip_amount = meal_cost * 5/100

total_meal_coat = meal_cost + tax_amount + tip_amount

print(f'''Meal Cost
Meal Cost: {meal_cost}
Meal Tax: {meal_tax}
Meal Tip: {meal_tip}
Total Meal Cost: {total_meal_coat}''')

Enter the cost of meal: 1000
Enter the tax of meal: 10
Enter the tip of meal: 5
Meal Cost
Meal Cost: 1000
Meal Tax: 10
Meal Tip: 5
Total Meal Cost: 1150.0

In [ ]:
# Test 16

height_in_centimeters = float(input("Enter Your Height (in cm): "))
weight_in_kilograms = float(input("Enter Your Weight (in kg): "))

height_in_meters = height_in_centimeters / 100
bmi = weight_in_kilograms / height_in_meters ** 2
print(f"BMI: {bmi}")

if bmi < 18.5:
    print("You are underweight")

elif bmi > 18.5 and bmi < 24.9:
    print("You have a normal weight")

elif bmi > 25 and bmi < 29.9:
    print("You are overweight")

elif bmi >= 30:
    print("You are obese")

    if bmi >= 30 and bmi > 40:
       print("You should consult a doctor")

else:
     print("You are very, very, very overweight")

Enter Your Height (in cm): 1
Enter Your Weight (in kg): 10
BMI: 100000.0
You are obese
You should consult a doctor

In [ ]:
# Test 17

full_name = input("Enter Your Full Name: ")
secret_code = input("Enter Your Secret Code: ")

name_words = full_name.split()

if len(name_words) < 3:
   print("Please provide your full name (first, middle, and last).")

else:
     if len(secret_code) == 8 and secret_code.startswith("XYZ"):
        print(f'''Access granted for {full_name}''')

     else:
          print("Invalid secret code. Code must start with 'XYZ' and be 8 characters long")

Enter Your Full Name: Muhammad Abdul Subhan
Enter Your Secret Code: XYZ12345
Access granted for Muhammad Abdul Subhan

In [ ]:
# Test 18

name = input("Enter your name: ")

if len(name) != 8:
   print("Invalid: name must be exactly 8 characters long.")

   if not name[0].isalpha():
      print("Invalid: name must start with an alphabet character.")

   if " " in name:

      print("Invalid: name must not contain any spaces.")

else:
     print("Valid name!")

Enter your name: MASubhan
Valid name!

In [ ]:
# Test 19

password = input("Enter Your Password: ")

if len(password) < 6:
   print("Weak Password")

elif len(password) >= 6 and len(password) <= 10:
     print("Modrate Password")

elif len(password) > 10:
     print("Strong Password")

elif " " in password:
   print("Invalid Password")

else:
     print("Correct Password")

Enter Your Password: Subhan21102007
Strong Password

In [ ]:
# Test 20

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Even_numbers = numbers[1::2]

print(Even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Test 21

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

odd_numbers = numbers[::2]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# Test 22

students = {1:{"name":"emma", "age":27, "roll no.":12345}, 2:{"name":"mic", "age":22, "roll no.":54321}}

print(students[1]["age"])

27

In [ ]:
# Test 23

for i in range(5):
    print("* " * 5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# Test 24

for i in range(5):
    print(" " * (5 - i) + "*" * (i + 1))

     *
    **
   ***
  ****
 *****

In [ ]:
# Test 25

number = int(input("Enter the number: "))

factorial = 1

while number > 1:
      factorial *= number
      number -= 1

print(factorial)

Enter the number: 5
120

In [ ]:
# Test 26

i = 0
while True:
    number = int(input("Enter the number: "))

    if number < 0:
        print("Negative Value")
        break
    else:
        i += number
print(i)

Enter the number: -1
Negative Value
0

In [ ]:
# Test 27

numbers = [1, 5, 2, 4, 3, 4, 2]

square_numbers = [i ** 2 for i in numbers if i % 2 == 0]

unique_numbers = []

[unique_numbers.append(i) for i in square_numbers if i not in unique_numbers]

sort_unique_numbers = sorted(unique_numbers)

print(sort_unique_numbers)

[4, 16]

In [1]:
# Test 28

numbers = int(input("Enter the number: "))
sum_of_numbers = sum([i for i in range(1, numbers + 1)])
print(sum_of_numbers)

prime_numbers = [i for i in range(25, 50) if all(i % j != 0 for j in range(2, i))]
print(prime_numbers)

Enter the number: 5
15
[29, 31, 37, 41, 43, 47]